mixin nav-item-sidebar(href, icon, text)
    li.nav-item
        a.nav-link.d-flex.text-dark(href=href)
            i.material-icons.mr-2= icon
            | #{text}

mixin nav-a(href, text)
    a(href=href).btn.btn-primary.btn-sm.m-1=text

mixin nav-btn(id, icon, text)
    button.btn.btn-primary.btn-sm.m-1(id=id)=text

mixin nav-form(action, form_id, btn_id, type, text)
    form.d-inline(method="post", action=action, id=form_id)
        if (type === "file")
            label.btn.btn-primary.btn-sm.m-1(for=csrfToken)=text
            input.form-control(type=type, id=csrfToken, hidden)
        else
            button.btn.btn-primary.btn-sm.m-1(type="submit", id=btn_id)=text

block aside
    div.aside.nav#sidebar.col-10.col-md-2.bg-transparent(style="z-index:1000")
        ul.list-unstyled.w-100
            if(title === 'Files')
                li
                    +nav-form("/uploads", "upload_form", "upload_btn", "file", "Upload")
                    +nav-form("/folder/new", "folder_form", "folder_btn", "folder", "New folder")

                +nav-item-sidebar("/files", "folder", "MyFiles")
                +nav-item-sidebar("/shared", "folder_shared", "Shared Files")
                hr
                +nav-item-sidebar("/bin", "delete", "Trash")
            else if(title === 'Groups')
                li
                    +nav-btn("join_btn", "Join/Create", "Join/Create")
                +nav-item-sidebar("/mygroup", "group", "My Groups")
                hr
                +nav-item-sidebar("/sharedgroup", "group_add", "Shared groups")

    div#btn_control_div.control_btn.d-flex.align-items-center(style="width:0")
        button.shadow-2.btn.btn-primary.rounded-circle#sidebar_btn(style="z-index:1000;margin-left:-25px")
            i.material-icons#icon_control_btn keyboard_arrow_left




