mixin accordion-item(id_head, datatarg, icon, text)
    div.card-header(id=id_head)
        h5.mb-0
            button.btn.btn-link.text-dark.font-weight-bold(data-toggle="collapse", data-target="#"+datatarg, aria-expanded="true", aria-controls=datatarg)
                i.material-icons.align-middle.mr-2 #{icon}
                | #{text}
    div.collapse.show(id=datatarg)(aria-labelledby=id_head, data-parent="#accordion")
        div.card-body Loremipsum loremipsum

div.col-8.mx-auto.mt-5#accordion
    div.card.mr-5.mb-5
        +accordion-item("headOne", "collapseOne", "info", "Getting Started")
        +accordion-item("headTwo", "collapseTwo", "help", "Help Noob")
        +accordion-item("headThree", "collapseThree", "help", "Help Noob #2")
        +accordion-item("headFour", "collapseFour", "info", "Getting Rekt")
